<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="IdeaProjects\Selenium_Maven_TestNG_Allure\">
        <classes>
            <class name="YandexTest"></class>
        </classes>
    </test>
</suite>